/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import "variables";

body, html {
  margin: 0;
  padding: 0;
}

/* everywhere else */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
