<div class="title-container">
  <h1 class="title">{{ title }}</h1>
</div>
<nav>
  <a
    routerLink="/dashboard"
    [class.active]="activeRoute == 'home'"
    (click)="setActiveRoute('home')"
    >Home</a
  >
  <a
    routerLink="/heroes"
    [class.active]="activeRoute == 'heroes'"
    (click)="setActiveRoute('heroes')"
    >Heróis</a
  >
  <a
    routerLink="/powers"
    [class.active]="activeRoute == 'powers'"
    (click)="setActiveRoute('powers')"
    >Poderes</a
  >
</nav>
<div class="ui container">

  <router-outlet></router-outlet>
</div>
<app-messages></app-messages>
