@import "../app/styles/variables";

.title-container {
  background: $black;
  width: 100vw;
  padding: 1rem;

  .title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
  }
}

nav {
  justify-content: center;
  align-items: center;
  display: flex;
  background:$black;
  a {
    color: $primary;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 1rem;
    &.active {
      color:white;
    }
    &:link {
      text-decoration: none;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
