.heroes {
  li {
    margin-top: 20px;
    width: 100%;
    position: relative;
    &:hover > .hero-name {
      cursor: pointer;
      background: rgb(214, 209, 209, 0.7);
    }
    .hero-id {
      background: rgb(51, 58, 97);
      color: white;
      padding: 10px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      display: inline-block;
    }
    .hero-name {
      background: rgb(214, 209, 209);
      padding: 10px;
      display: inline-block;
      width: 300px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      &.selected {
        background: black;
        color: white;
      }
    }
  }
}
