<div class="titulo"><h2>Heróis Cadastrados</h2></div>
<div class="heroes ui fluid">
  <div>
    <div>
      <table class="ui celled table">
        <thead>
          <tr>
            <th class="fourteen wide">Nome do Herói</th>
            <th class="deletar">Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroes">
            <td data-label="nome">
              <a
                class="badge twelve wide column"
                routerLink="/detail/{{ hero.id }}"
              >
                <div></div>
                {{ hero.name }}
              </a>
            </td>
            <td data-label="deletar" class="deletar">
              <i
                class="ui icon trash red pointer-mouse"
                (click)="delete(hero)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="titulo"><h2>Adicionar novo Herói</h2></div>
<div class="ui card red fluid">
  <div class="ui form" [formGroup]="heroForm">
    <div class="fields">
      <div class="eight wide field">
        <label>Nome do novo herói</label>
        <input #heroName upper-case formControlName="name" />
      </div>
      <div class="eight wide field">
        <label for="">Poderes</label>
        <select
          class="ui fluid search dropdown"
          multiple=""
          formControlName="powers"
        >

          <option *ngFor="let power of powers" [value]="power">
            {{ power.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="input-new-hero field">
    <label></label>
    <button
      class="blue ui button add-button field"
      (click)="add(heroName.value); heroName.value = ''"
    >
      Adicionar Herói
    </button>
  </div>
</div>
